<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (member) {%>
      <h1>WELCOME BACK <%= member.username %></h1>
      <a href="/log-out">LOG OUT</a><% } %>
      
  </body>
</html>
