<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head"); %>
  <link rel="stylesheet" href="/stylesheets/log-in-form.css">
</head>
<body>
    <%- include("./partials/header", {user: undefined}); %>
    <main>
    
<form method="POST">
  <h1>Log in</h1>
  <label for="username">Username</label>
  <input name="username"  type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <button class="log-in-btn">Log In</button>
</form>
</main>
</body>
</html>