.last-name-container, .first-name-container,.password-container, .confirmPassword-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1
}

.name-inputs, .password-inputs  {
    display: flex;
    gap: 1rem

    
}

.sign-up-btn {
    width: auto;
   
}

